.mainBodyContainerIMG{
    width: 100%;
    height: 100vh;
}

.bodyContainer{
    z-index: 5;
    position: absolute;
    padding-top: 2rem;
}
.bodyContainerIMG{
    width: 100%;
    height: 99.8vh;
    /* z-index: 3; */
    position: absolute;
    /* filter: blur(7px); */
}

.cardShadowBanking:hover{
    box-shadow: -9px 0px 8px   #0f50c0, 0px 12px 8px #F28C28;
}
.cardShadow:hover{
    box-shadow: -9px 12px 8px  #2a58a8;
}

.shahul{
    display: flex;
    justify-content: center;
    padding-top: 33px;
}


/* @media screen and (min-width:500){
    .homeheading{
        fobt:
    }
} */