.container{
    height: 676px;
    max-width: 1920px;
}
.forgotForm{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 500px;
    width: 600px;
    margin-left: 626px;
    margin-top: 124px;
     background-color: orange; 
    border-radius: 10px;
    box-shadow: -9px 12px 8px  #4d4d4e; 
    */

    

    height: 542px;
    width: 859px;
    margin-left: 500px;
    margin-top: 8px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: -9px 12px 8px #4d4d4e;
}

.formFields{
    width: 282px;
    height: 500px;
    margin-top: 45px;
    margin-left: 3px;
}
.passwordForm{
    width: 279px;
    height: 500px;
    margin-top: 48px;
    margin-left: 114px;
}

.forgotLogo{
    position: relative;
    top: -16px;
    right: 154px;
}